@import '@styles/constants';

.root {
  width: 25%;
  min-height: calc(100vh - 48px);
  background-color: $primary;
  flex-shrink: 0;
}

.list {
  font-size: 14px;
  list-style: none;
  padding: 20px 32px;
  color: $main__white;
  cursor: pointer;

  &:hover {
    background-color: $main__white;
    color: $primary;
  }
}
