@import '@styles/constants';

@mixin root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 48px);

  width: 100%;
}

@mixin input__large {
  width: 50%;
  height: 48px;

  border-radius: 12px;
  border: 1px $main__gray solid;

  padding: 0 8px;
}

@mixin input__small {
  width: 80%;
  height: 48px;

  border-radius: 12px;
  border: 1px $main__gray solid;

  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

@mixin button_large {
  width: 50%;
  height: 48px;

  border-radius: 12px;
  border: 0;

  background-color: $primary;
  color: $main__white;

  &:hover {
    background-color: $secondary;
  }
}

@mixin button_small {
  width: 20%;
  height: 48px;

  border-radius: 12px;
  border: 0;

  background-color: $primary;
  color: $main__white;

  &:hover {
    background-color: $secondary;
  }
}

@mixin title {
  color: $primary;
  margin-bottom: 32px;
}

@mixin wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

@mixin text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

@mixin error {
  margin: 12px 0;
  text-align: center;
  color: $main__red;
  font-size: 12px;
}

@mixin text {
  margin: 0 16px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
