@import '@styles/mixins';
@import '@styles/constants';

.root {
  width: 80%;
  text-align: center;
}

.title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 18px;
  color: $sub__gray;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card__wrapper {
  width: 30%;
  border-radius: 12px;
  padding: 16px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 25px -6px;
  margin: 8px;

  & h2 {
    margin-bottom: 12px;
  }

  & .text {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card__profile {
  margin-bottom: 12px;

  & .card__nickname {
    @include card__nickname();
  }

  & .card__date {
    @include card__date();
  }
}

.nodata {
  @include nodata();
}

.badge {
  @include badge();
}

.badge__wrapper {
  text-align: right;
}
